##
## This is the l7directord configuration file.
## See `l7directord --help' for detailed information.
##

# = GLOBAL DIRECTIVES

# - Monitor Settings
checktimeout     = 5
negotiatetimeout = 5
checkinterval    = 10
retryinterval    = 5
checkcount       = 3

# - Logging
logfile          = /var/log/l7vs/l7directord.log
#logfile          = local0
#supervised

# - Real Server Operation
quiescent        = yes
#fallback         = 127.0.0.1:80

# - Monitor Configuration File
configinterval   = 10
autoreload       = no
#callback         = /opt/config_change.sh

# = VIRTUAL DIRECTIVES
# - A sample virual section with a sorry server.
# - checkcount and quiescent settings are override the global settings.
virtual  = 192.168.0.50:80
	real = 192.168.0.51:8080 masq 1
	real = 192.168.0.52:8080 masq 2
	module      = sessionless
	scheduler   = rr
	sorryserver = 192.168.0.53:8080
	maxconn     = 1000
	qosup       = 100M
	qosdown     = 100M
	checktype   = negotiate
	service     = http
	request     = "index.html"
	receive     = "html"
	quiescent   = no
	checkcount  = 2
	#realdowncallback	 = /opt/down.sh
	#realrecovercallback = /opt/recover.sh
    #customcheck = ping -c1 -w1 _IP_
